{% extends "layout.njk" %}

{% set pageId = "page-create" %}
{% set page = "School Create Teacher" %}

<!-- STYLES PAGE -->
{% block styles %}
    <link rel="stylesheet" href="/styles/header.css">
    <link rel="stylesheet" href="/styles/create.css">
{% endblock styles %}    

<!-- PAGE ID BEGIN -->

<!-- PAGE CONTENT -->
{% block content %}

    <!-- INCLUDE DO HEADER -->
    {% include "partials/header.njk"%}

    <!-- PAGE CONTENT -->

    <!-- FORM CONTENT -->
    <form action="/teachers" method="POST" class="card">

        <!-- SECTION AVATAR -->
        <section class="avatar">

        </section>

        <!-- SECTION ITENS -->
        <section class="description">

            <h3>Create a Teacher</h3>

            {% include "teachers/fields.njk"%}
           

        </section>

    </form>

   
    <!-- INCLUDE DO FOOTER -->    
        
{% endblock content %}

<!-- PAGE ID END -->
   
<!-- MODAL -->
{% block modal %}    
{% endblock modal %} 

<!-- SCRIPTS -->
{% block scripts %}
    <!--
    <script src="/scripts/index.js"></script>
    -->
{% endblock scripts %} 