<header>
    <div class="menu">
        <div class="links">                       
            <a href="/teachers">Teachers</a>              
            <a href="/students">Students</a>
        </div>            
    </div>
</header>

