{% extends "layout.njk" %}

{% set pageId = "page-index" %}
{% set page = "School Index" %}

<!-- STYLES PAGE -->
{% block styles %}
    <link rel="stylesheet" href="/styles/header.css">
    <link rel="stylesheet" href="/styles/index.css">
{% endblock styles %}    

<!-- PAGE ID BEGIN -->

<!-- PAGE CONTENT -->
{% block content %}

    <!-- INCLUDE DO HEADER -->
    {% include "partials/header.njk"%}

    <!-- PAGE CONTENT -->
        

    <!-- INCLUDE DO FOOTER -->    
        
{% endblock content %}

<!-- PAGE ID END -->
   
<!-- MODAL -->
{% block modal %}    
{% endblock modal %} 

<!-- SCRIPTS -->
{% block scripts %}
    <!--
    <script src="/scripts/index.js"></script>
    -->
{% endblock scripts %} 



